
<div class="search-region">
    <form action="/characters/search" method="GET">
        <div class="input-group">
            <%= text_field_tag 'q', params[:q], class: 'form-control' %>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Search</button>
            </span>
        </div>
    </form>
</div>
