<%= render 'search_form' %>

<article class="search-results">

<%- if @characters.size > 0 %>

<h3>Results:</h3>
<dl>
    <% @characters.each do |character| %>
        <dt ng-controller="DescriptionController">
            <a popover="{{characterDescription}}"
                ng-mouseover="retrieveCharacterDesc(<%= character.id %>)">
                <%= character.name %>
            </a>
        </dt>
    <% end %>
</dl>

<% else %>
    No character names match your search.
<% end %>

</article>
