/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
    font-family: Verdana, Geneva, sans-serif;
}

img.thumb {
    max-height: 150px;
}

h1.armory {
    text-align: center;
}

.search-region {
    margin: 10px auto;
    text-align: center;
}

.search-region form {
    display: inline;
}

.character-details {
    display: block;
    border: 1px solid lightgrey;
    clear: both;
    margin: 15px auto;
    width: 900px;
    padding: 20px;
    overflow: hidden;
}

.character-details .section {
    width: 33%;
    float: left;
}
